section.line{
    position: absolute;
    top: 0;
    left: 150px;
    width: 20px;
    height: 50000px;
    border-right: 1px solid $secondary1;
    opacity: 0.6;
    z-index: 50;
}
section.GPU{
    background: url(/assets/img/Background.png);
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    position: relative;
    left: 130px;
    padding-top: 184px;
    p, h2, div.button-group{
        margin-left: 185px;
    }
    p{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 0;
        &.text-secondary{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            opacity: 0.6;
            width: 600px;
        }
    }
    h2{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 68px;
        width: 500px;
        color: $secondary1;
        margin-top: 20px;
        margin-bottom: 20px;
        sup{
            display: none;
        }
    }
    div.button-group{
        display: flex;
        gap: 65px;
        margin-top: 94px;
        margin-bottom: 183px;
        button{
            width: 252px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $secondary1;
            background-color: inherit;
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
                opacity: 0.6;
            }
            &:first-child{
                background-color: #9B7A3E;
                &::after{
                    content: "→";
                    margin-left: 27px;
                    width: 31px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                }
            }
            &:last-child{
                border: 1px solid $secondary1;
            }
        }
    }
}
section.powered{
    margin-left: 160px;
    padding-left: 40px;
    h3{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 70px;
        color: $secondary1;
        margin: 39px 0 19px 0;
        display: flex;
        align-items: center;
        a{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: $primary3;
            margin-left: 35px;
            &::after{
                content: "→";
                margin-left: 10px;
            }
            &:hover{
                color: $primary2;
                cursor: pointer;
            }
        }
    }
    p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.6;
    }
    div.properties{
        margin-left: 400px;
        display: flex;
        gap: 20px;
        background: rgba(255, 255, 255, 0.1224) ;
        border-top-left-radius: 20px ;
        border-bottom-left-radius: 20px;
        margin-top: 67px;
        p{
            display: block;
            width: 194px;
            font-family: 'Heebo';
            font-style: normal;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            letter-spacing: -0.02em;
            opacity: 1;
            margin: 0;
            span{
                display: block;
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                letter-spacing: -0.02em;
                color: $secondary1;
                opacity: 0.6;
            }
            &:first-child{
                margin-left: 100px;
            }
        }
    }
}
section.design{
    background: url(/assets/img/Design.png);
    background-repeat: no-repeat;
    margin-left: 180px;
    h3{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 70px; 
        color: $secondary1; 
        padding-top: 50px;
        
    }
    div.characteristics{
        margin-left: 136px;
        position: relative;
        p{
            font-family: 'Heebo';
            font-style: normal;
            line-height: 140%;
            font-weight: 500;
            font-size: 24px;
            span{
                color: $secondary1;
                font-weight: 400;
                font-size: 14px;
                opacity: 0.6;
                display: block;
            }
            
        }
        img{
            position: absolute;
            top: -30px;
            left: 520px;
        }
        
    }
}
section.groundbreaking{
    margin-left: 180px; 
    margin-top: 100px;
    background: url(/assets/img/NvidiaTitanv.png);
    background-position-x: right;
    // background-position-y: -60%;
    background-repeat: no-repeat;
   div.breaking-first{
       margin-left: 365px;
       p{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 70px;
        color: $secondary1;
        margin: 0;
        span{
            display: block;
            width: 600px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: $secondary1;
            opacity: 0.6;
           }
       }
      
   }
   div.breaking-second{
       background-color: rgba(255, 255, 255, 0.1);
       border-radius: 20px;
       width: max-content;
       padding-left: 200px;
       position: relative;
       left: -200px;
       margin-top: 45px;

       p{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: $secondary1;  
        margin: 0;      
       }
       div.bsi{
           display: grid;
           grid-template-columns: repeat(2, 250px);
           grid-template-rows: repeat(2, 1fr);
           span{
                display: block;
                width: 250px;
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                color: $secondary1;        
                opacity: 0.6;
           }
       }
   }
   div.breaking-third{
       margin-top: 240px;
       display: flex;
       gap: 138px;
       padding-bottom: 230px;
       div.dti{
           display: flex;
           flex-direction: column;
           p{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 300;
            font-size: 48px;
            line-height: 70px;
            color: $secondary1;
            margin: 0;
           }
           span{
               display: block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $secondary1;
            opacity: 0.6;
            width: 350px;
            margin: 10px 0 10px 0;

            }
            a{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: $primary3;
                &::after{
                    content: "→";
                    margin-left: 10px;
                }
                &:hover{
                    color: $primary2;
                    cursor: pointer;
                }
            }
       }
   }
}
section.gallery{
    margin-top: 200px;
    background: url(/assets/img/Gallery.png);
    background-repeat: no-repeat;
    margin-left: 200px;
    position: relative;
    top: -300px;
    h2{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        line-height: 94px;
        color: $secondary1;
        padding-top: 40px;
        
    }
    div.gallery-img{
        display: flex;
        align-items: center;
        gap: 56px;
        div.img-second{
            display: flex;
            align-items: center;
            gap: 25px;
            &::after{
                content: ">";
                color: $secondary1;
                opacity: 0.5;
                font-size: 40px;
                margin-left: 10px;
            }
            &::before{
                content: "<";
                color: $secondary1;
                opacity: 0.5;
                font-size: 40px;
                margin-right: 10px;
            }
        }
        
    }
}
@media (max-width: 480px){
    section.line{
        display: none;
    }
    section.GPU{
        background: none;
        height: max-content;
        left: 0;
        margin: 140px 12px 0 12px;
        padding: 0;
        p, h2, div.button-group{
        margin-left: 0;
        }
        p{
            font-size: 17.0667px;
            line-height: 188%;
            &.text-secondary{
                font-size: 14px;
                line-height: 160%;
                width: 73%;
            }
        }
        h2{
            font-size: 34.1333px;
            line-height: 183.5%;
            width: 80%;
            sup{
                display: inline;
            }
        }
        div.button-group{
            gap: 30px;
            margin: 90px 0 0 0;

            button{
                font-size: 18px;
                line-height: 26px;
                width: 210px;
                height: 39px;
            }
        }
    }
    section.powered{
            margin: 77px 0 0 0;
            padding: 0;
            h3{
                font-size: 24px;
                line-height: 35px;
                margin-left: 12px;
                a{
                    font-size: 18px;
                    line-height: 21px;
                }
            }
            p{
                font-size: 14px;
                line-height: 160%;
                width: 90%;
                margin-left: 12px;

            }
            div.properties{
                margin: 0;
                padding: 25px;
                flex-direction: column;
                align-items: center;
                border-radius: 0;
                gap: 30px;
                p{
                    &:first-child{
                        margin: 0;
                    }
                    span{
                        font-size: 24px;
                        line-height: 35px;
                    }
                }
                

            }
    }
    section.design{
        margin: 0;
        background-size: 310px;
        background-position: 10% 22%;
        padding-top: 34px;
        // padding-left: 12px;
        h3{
            margin: 66px 15px 0 15px;
            padding: 0;
            font-size: 24px;
            line-height: 35px;
            opacity: 0.8;
        }
        div.characteristics{
            margin-left: 15px;
            P{
                font-size: 18px;
                width: 90%;
                span{
                    font-size: 14px;
                    line-height: 140%;
                }
            }
            img{
                position: relative;
                top: -20;
                left: 190px;
            }
        }
    }
    section.groundbreaking{
        margin: 0;
        background: none;

        div.breaking-first{
            margin: 0 0 0 15px;
            p{
                font-size: 24px;
                line-height: 35px;
                span{
                    font-size: 14px;
                    line-height: 160%;
                    width: 85%;
                }
            }
        }
        div.breaking-second{
            border-radius: none;
            position: none;
            margin-left: 15px;
        }
        div.breaking-third{
            flex-direction: column-reverse;
            gap: 35px;
            margin: 70px 0 0 0;
            padding-left: 15px;
            img{
                left: 10px;
            }
            div.dti{
                p{
                    font-size: 24px;
                    line-height: 35px;
                }
                span{
                    line-height: 160%;
                }
            }
        }
    }
    section.gallery{
        margin: 0;
        top: -200px;
        background-size: 250px;
        background-position: 6% 6%;
        h2{
            font-size: 24px;
            line-height: 35px;
            margin-left: 15px;
        }
        div.gallery-img{
            img.secret{
                display: none;
            }
            div.img-second{
                gap: 10px;
                width: 100%;
                position: relative;
                justify-content: space-between;
                
                img{
                    width: 121px;
                    height: 121px;
                }
                
            }
        }
    }
}