<header>
    <nav class="burger-menu">
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-btn" for="menu-toggle">
            <span></span>
        </label>
        <h1>Titan V</h1>
        <ul class="menubox">
            <li><a class="menu-item" href="#">Volta</a></li>
            <li><a class="menu-item" href="#">Design</a></li>
            <li><a class="menu-item" href="#">Specs</a></li>
            <li><a class="menu-item" href="#">Gallery</a></li>
            <li><a class="menu-item button-buy" href="#">Buy Now</a></li>
            
        </ul>
    </nav>
</header>