{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
    <section class="line">
        <span></span>
    </section>
    <section class="GPU">
        <p>now for your PC</p>
        <h2>Nvidia’s supercomputing gpu architecture</h2>
        <p class="text-secondary">NVIDIA TITAN V is the most powerful Volta-based graphics card ever created for the PC.NVIDIA’s supercomputing GPU architecture is now here for your PC, and fueling breakthroughs in every inustry.</p>
        <div class="button-group">
            <button type="submit">ADD TO CAR</button>
            <button type="submit">WATCH FULL VIDEO</button>
        </div>
    </section>
    <section class="powered">
        <h3>Powered by nvidia volta <a href="#">Learn more</a></h3>
        <p>Volta GPU architecture pairs NVIDIA ® CUDA ® and Tensor Cores to deliver new levels of performance in a desktop PC GPU.</p>
        <div class="properties">
            <p>110 deep<span> learning teraflops</span></p>
            <p>3d stacker<span>memory</span></p>
            <p>21 billion<span>transistors</span></p>
        </div>
    </section>
    <section class="design">
        <h3>Stunning design, unequalled performance</h3>
        <div class="characteristics">
            <p>POWER SUPPLY<span>DrMOS power supply with integrated real time current and thermal monitoring capability</span></p>
            <p>3D STACKED MEMORY<span>12 GB of HBM2 memory made with 3D packaging technology</span></p>
            <img src="assets/img/Group 55.png" alt="logo">
        </div>
    </section>
    <section class="groundbreaking">
        <div class="breaking-first">
            <p>Groundbreaking capability<span>NVIDIA TITAN V has the power of 12 GB HBM2 memory and 640 Tensor Cores, delivering  110 TeraFLOPS of performance. Plus, it features Volta-optimized NVIDIA CUDA for maximum results.</span></p>
            
        </div>
        <div class="breaking-second">
            <p>NVIDIA TITAN V</p>
            <div class="bsi">
                <span>Architecture   NVIDIA Volta</span>
                <span>Frame Buffer  12 GB HBM2</span>
                <span>Boost Clock  1455 MHz</span>
                <span>Tensor Cores 640</span>
            </div>
        </div>
        <div class="breaking-third">
            <img src="assets/img/5 1.png" alt="logo">
            <div class="dti">
                <p>Nvidia Titan v</p>
                <span>Users now have free access to GPU-optimized deep learning software on NVIDIA GPU Cloud.</span>
                <a href="#">Learn more</a>
            </div>
        </div>
    </section>
    <section class="gallery">
        <h2>Gallery</h2>
        <div class="gallery-img">
            <img src="assets/img/gallery2.png" alt="img">
            <div class="img-second" >
            <img src="assets/img/Group16.png" alt="img">
            </div>
        </div>
    </section>
{% endblock %}