{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
    <section class="line">
        <span></span>
    </section>
    <section class="GPU">
        <p>now for your PC</p>
        <h2>Nvidia’s supercomputing gpu architecture</h2>
        <p class="text-secondary">NVIDIA TITAN V is the most powerful Volta-based graphics card ever created for the PC.NVIDIA’s supercomputing GPU architecture is now here for your PC, and fueling breakthroughs in every inustry.</p>
        <div class="button-group">
            <button type="submit">ADD TO CAR</button>
            <button type="submit">WATCH FULL VIDEO</button>
        </div>
    </section>
    <section class="powered">
        <h3>Powered by nvidia volta</h3>
        <p>Volta GPU architecture pairs NVIDIA ® CUDA ® and Tensor Cores to deliver new levels of performance in a desktop PC GPU.</p>
        <div class="properties">
            <p>110 deep<span> learning teraflops</span></p>
            <p>3d stacker<span>memory</span></p>
            <p>21 billion<span>transistors</span></p>
        </div>
    </section>
    <section class="design">
        <h3>Stunning design, unequalled performance</h3>
        <div class="characteristics">
            <p>POWER SUPPLY<span>DrMOS power supply with integrated real time current and thermal monitoring capability</span></p>
            <p>3D STACKED MEMORY<span>12 GB of HBM2 memory made with 3D packaging technology</span></p>
        </div>
    </section>
{% endblock %}