{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
    <section class="GPU">
        <p>now for your PC</p>
        <h2>Nvidia’s supercomputing gpu architecture</h2>
        <p class="text-secondary">NVIDIA TITAN V is the most powerful Volta-based graphics card ever created for the PC.NVIDIA’s supercomputing GPU architecture is now here for your PC, and fueling breakthroughs in every inustry.</p>
        <div class="button-group">
            <button type="submit">ADD TO CAR</button>
            <button type="submit">WATCH FULL VIDEO</button>
        </div>
    </section>
    
{% endblock %}